<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PopUpClipboard"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity
            android:name=".PopUpDeleteFriend"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".PopUpCancelFriendRequest"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".PopUpDelete"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".PopUpFriend"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".PopUpDaySelect"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ActivityFriendSchedule" />
        <activity
            android:name=".PopUpGetRequest"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ActivityAddFriend"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityJoinin"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".MainActivity"/>
        <activity
            android:name=".ActivityAddSchedule" />
    </application>

</manifest>