<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PopUpClipboard"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity
            android:name=".DeleteFriend"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".CancelFriendRequest"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".PopUpDelete"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".PopUpFriend"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".PopUpDaySelect"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".FriendSchedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".getRequest"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".AddFriend"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoininActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddScheduleActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>